.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.publicaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  row-gap: 10px;
  width: 90%;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos adicionales para diseño responsivo */
@media (max-width: 768px) {
  .publicaciones {
    flex-direction: column;
    align-items: center;
  }
}
